.box {
    width: 100%;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border: 2px solid white;
}

.nested-box {
    width: 100%;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border: 1.5px solid #006cfa;
}

.bg-blue {
    background-color: #006cfa;
    color: white;
}

.bg-green {
    background-color: #00e165;
    color: white;
}

#special-row {
    border: 2px solid white;
    padding: 10px;
}